<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1212">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Magnolia Solar app"
        android:roundIcon="@drawable/solar_app_icon_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".Activities.NewMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Solar App for Magnolia"
            android:launchMode="singleTask"
            ></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Activities.AboutActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Activities.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:screenOrientation="portrait"
            android:name=".Activities.MainActivity"
             />


        <!-- original manifest code-->
        <!--<activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Solar App for Magnolia"
            android:launchMode="singleTask" />-->

    </application>

</manifest>